body {
  padding: 50px;
  font: 16px 'Roboto', Helvetica, Arial, sans-serif;
  background-color: #18192f;
  color: #fff;
  text-align: center;
}

a {
  color: #00b7ff;
}

.logo {
  height: 10vmin;
  cursor: pointer;
}

.header {
  background-color: #18192f;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.link {
  color: #faaf3a;
}

.button {
  cursor: pointer;
  margin-top: 20px;
  background: #faaf3a;
  border-radius: 8px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  line-height: 140%;
  text-align: center;
  color: #18192f;
  font-size: 16px;
  vertical-align: middle;
  padding: 1rem 0px;
  height: 50px;
  width: 20%;
  border: medium none;
  transition: background-color 0.2s ease-in-out 0s, color 0.2s ease-in-out 0s;
  text-transform: none;
  letter-spacing: 0px;
}

.button:hover {
  background: rgb(205, 128, 7) none repeat scroll 0% 0%;
  color: rgb(24, 25, 47);
}

.nobutton {
  border: none;
  padding: 0;
  background: none;
}
